# This is a list of lines to manually add instead of a full i3 file, for now.
# ~/.config/i3/config

# set $mod Mod1 # ???

# quickly edit a file
# bindsym $mod+z exec i3-sensible-terminal --working-directory="/FIXME/path" -e "vim '+cd /FIXME/path' /FIXME/file"
bindsym $mod+g exec firefox

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+n split h
bindsym $mod+v split v

bindsym $mod+x move workspace to output right

# Pulse Audio controls
# bindsym XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume 0 +5% #increase sound volume
# bindsym XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume 0 -5% #decrease sound volume
# bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle # mute sound

# Screen brightness controls
# bindsym XF86MonBrightnessUp exec xbacklight -inc 20 # increase screen brightness
# bindsym XF86MonBrightnessDown exec xbacklight -dec 20 # decrease screen brightness

mode "resize" {
	# ...
	bindsym h resize shrink width 10 px or 10 ppt
	bindsym j resize grow height 10 px or 10 ppt
	bindsym k resize shrink height 10 px or 10 ppt
	bindsym l resize grow width 10 px or 10 ppt
	# ...
}

# exec nm-applet # wifi-manager
# exec redshift
# exec setxkbmap -option ctrl:nocaps -option compose:lwin
# exec dropbox start

# bindsym $mod+p exec i3lock -i 660000 && systemctl suspend
# bindsym $mod+p exec i3lock -c /FIXME/path/to/lockscreen && systemctl suspend
# exec --no-startup-id feh --bg-fill /FIXME/path/to/wallpaper
#
# https://www.deviantart.com/limecatmastr/gallery/
# http://www1.flightrising.com/site/media
